*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{ 
width: 100%;
height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    width: 200px;
    height: 200px;
    border:2px solid black;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#circle{
    border-radius: 50%;
}
#circle:hover{background: #706d6d;}
#diamond:hover{background: hsl(220, 36%, 44%);
 }
#diamond{ rotate: 45deg;
 margin-top: 50px;}
#diamond h1{ rotate: -45deg;}
#square:hover{
    background: #ccdc52;}